<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ location.chain.name }} - {{ location.name }}</h1>

<nav>
    <ul>
        <li><a href="#">Latest menu scrape.</a></li>
        <li><a href="{{ location.url }}">Website.</a></li>
    </ul>
</nav>

<h2>Current Beverages</h2>
<ul>
    {% for beverage in location.beverage %}
        {% if beverage.is_active %}
            <li>
                <a href="#">{{ beverage.brewery }} - {{ beverage.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<pre>
{{ location.__dict__|pprint }}
</pre>
</body>
</html>